<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jz.tools.sql.mapper.SqlMapper">
	<!-- 动态查询 -->
	<select id="queryAny" parameterType="com.jz.tools.sql.entity.CommonItem"
		resultType="com.jz.tools.util.PageData">
		select
		*
		from
		<if test="dbName!=null">${dbName}.</if>
		${tableName}
		where 1=1
		<if test="conditionList!=null">
			<foreach collection="conditionList" index="index" item="item"
				open="and" separator="and" close="">
				<choose>
					<when test="item.type=='time'">
						trim(create_time) &gt;= '${item.startTime}'
						<if test="item.endTime!='' and item.endTime!=null"> and trim(create_time) &lt;= '${item.endTime}'</if>
					</when>
					<otherwise>
						<choose>
							<when test="item.type=='like'">
								POSITION('${item.value}' in ${item.column})
							</when>

							<otherwise>
								${item.column} = '${item.value}'
							</otherwise>
						</choose>

					</otherwise>
				</choose>

			</foreach>
		</if>
		<if test="orderData!=null">
			order by ${orderData.column} ${orderData.type}
		</if>
		<if test="limitData!=null">
			limit ${limitData.from},${limitData.length}
		</if>
	</select>


	<!-- 动态删除 -->
	<delete id="deleteAny" parameterType="com.jz.tools.sql.entity.CommonItem">
		delete from
		<if test="dbName!=null">${dbName}.</if>
		${tableName}
		where 1=1
		<if test="conditionList!=null">
			<foreach collection="conditionList" index="index" item="item"
				open="and" separator="and" close="">
				<choose>
					<when test="item.type=='like'">
						POSITION('${item.value}' in ${item.column})
					</when>
					<otherwise>
						${item.column} = '${item.value}'
					</otherwise>
				</choose>
			</foreach>
		</if>
	</delete>

	<!-- 动态新增 -->
	<insert id="insertAny" parameterType="com.jz.tools.sql.entity.CommonItem">
		insert into
		<if test="dbName!=null">${dbName}.</if>
		${tableName}
		<foreach collection="dataList" index="index" item="item" open="("
			separator="," close=")">
			${item.column}
		</foreach>
		<foreach collection="dataList" index="index" item="item" open="values ("
			separator="," close=")">
			<choose>
				<when
					test="item.type=='char' or item.type=='varchar' or item.type=='text'">'${item.value}'</when>
				<when test="item.type=='int' or item.type=='tinyint'">${item.value}</when>
				<otherwise>
					'${item.value}'
				</otherwise>
			</choose>
		</foreach>
	</insert>

	<!-- 动态修改 -->
	<update id="updateAny" parameterType="com.jz.tools.sql.entity.CommonItem">
		update
		<if test="dbName!=null">${dbName}.</if>
		${tableName}
		<set>
			<foreach collection="dataList" index="index" item="item"
				open="" separator="," close="">
				${item.column} = '${item.value}'
			</foreach>
		</set>
		where 1=1
		<if test="conditionList!=null">
			<foreach collection="conditionList" index="index" item="item"
				open="and" separator="and" close="">
				<choose>
					<when test="item.type=='like'">
						POSITION('${item.value}' in ${item.column})
					</when>
					<otherwise>
						${item.column} = '${item.value}'
					</otherwise>
				</choose>
			</foreach>
		</if>
	</update>


</mapper>
